@font-face {
    font-family: 'instagram' ;
    src: url('font/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
}

@font-face {
    font-family: 'instagram';
    src: url('font/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: italic;
}

.main{
    display: flex;
}

.main img{
    justify-content: center;
    margin: 100px;
    
}

.insta{
    justify-content: center;
    margin: 200px 0px;
}

.word{
    font-family: 'instagram';
    
}
.login-button{
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    background-color: rgb(140, 140, 251);
    color: white;
}

.name{
    height: 40px;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(229, 233, 238);
}

.password{
    height: 40px;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(229, 233, 238);
}

.forgot{
    border: 0;
    background-color: white;
    font-size:larger;
    margin: 20px;
}

.heading{
    font-size: large;
}


.heading .signup{
    background-color: white;
    border: 0;
}

.box{
    display: flex;
}

.box .left{
    margin: 25px;
}

.box .right{
    margin: 25px;
}

.facebook{
    display: flex;
    margin-left: 25%;
    text-decoration: none;
}


.forgot{
    display: flex;
    margin-left: 25%;
    font-size: medium;
    
}

.heading{
    display: flex;
    justify-content: center;
}

.span{
    color: blue;
}

.signup{
    color: blue; 
}