/* body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
    font-family: Arial;
}

.box{
    background: white;
    padding: 15px;
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

input{
    width: 100%;
    height: 40PX;
    margin-bottom: 10PX;
    text-align: right;
    font-size: 18px;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
button{
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.zero{
    grid-column: span 4;
}

 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  font-family: Arial;
}

.box {
  background: #25ffe6;
  padding: 15px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000000;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 18px;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

.zero {
  grid-column: span 4;
}
